body{
    background-color: #cc0000;
    display:block;
}
.nav{
    background-color: black;
    font-size: 50px;
}
.nav-link {
    color:red;
    text-decoration: none;
    padding: 25px;
}
.row{
    margin: 20px 20px 20px 20px;
    width: auto;
    height: auto;
}
.col-sm-8{
    background-color:#f2f2f2;
    padding: 25px;
}
.col-sm-4{
    background-color:#d9d9d9;
    padding: 10px;
}
.list-group{
    text-align:left;
}
.player{
    padding: 10px;
}
img{
    border: 1px solid black;
}
.col-sm-6{
    text-align:center;
}
.col-sm-6{
    text-align:center;
}
